networkx
spacy
coreferee
nltk
numpy
pymorphy3
dawg2-python
matplotlib
scikit-learn
# requires corenlpserver https://nlp.stanford.edu/software/stanford-corenlp-4.5.8.zip
# in concept-tree/nn_graph_makers dir
stanza

# https://github.com/dair-iitd/OpenIE-standalone for nn_graph_makers/openie_5_triples_maker_en.py