networkx
spacy==3.5
nltk
numpy==1.26.4
pymorphy3
dawg2-python
matplotlib
scikit-learn
# requires corenlpserver https://nlp.stanford.edu/software/stanford-corenlp-4.5.8.zip
# in concept-tree/nn_graph_makers dir
stanza
beautifulsoup4
lxml
# https://github.com/dair-iitd/OpenIE-standalone for nn_graph_makers/openie_5_triples_maker_en.py